<!DOCTYPE html>
<html>
<head>
<title><%= root.data.title %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="<%= rootPath %>/index.css">
<link rel="alternate" type="application/rss+xml" href="rss.xml" title="<%= rootPath %>/<%= root.data.title %> RSS">
<style><%= locals.style %></style>
</head>
<body>
<div class="container">